body {
    background-color: rgb(134, 28, 28);
}

h1 {
    text-align: center;
    font-family: Brush Script MT, cursive;
    font-weight: bold;
    font-size: 100px;
    text-shadow: -1px -2px white;
}

#lineunderthetitle {
    width: 500px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin: 10px auto;
}

#flex-list {
    background-color: rgb(76, 0, 0);
    border: 3px solid #ffc0c0;
    width: auto;
    max-width: 1200px;
    height: auto;
    margin: 10px auto;
    border-radius: 1%;

    display: flex;
    flex-wrap: wrap;
}

#el1 {
    border: 3px solid rgb(255, 255, 255);
    background-color: #eb5a2e;
    width: 350px;
    height: 170px;
    border-radius: 15px;
    margin: 20px;
}

#el2 {
    border: 3px solid rgb(255, 255, 255);
    background-color: #eb5a2e;
    width: 350px;
    height: 170px;
    border-radius: 15px;
    margin: 20px;
}

#el3 {
    border: 3px solid rgb(255, 255, 255);
    background-color: #eb5a2e;
    width: 350px;
    height: 170px;
    border-radius: 15px;
    margin: 20px;
}

#el5 {
    border: 3px solid rgb(255, 255, 255);
    background-color: #eb5a2e;
    width: 350px;
    height: 170px;
    border-radius: 15px;
    margin: 20px;
}

#el6 {
    border: 3px solid rgb(255, 255, 255);
    background-color: #eb5a2e;
    width: 350px;
    height: 170px;
    border-radius: 15px;
    margin: 20px;
}

#el7 {
    border: 3px solid rgb(255, 255, 255);
    background-color: #eb5a2e;
    width: 350px;
    height: 170px;
    border-radius: 15px;
    margin: 20px;
}